select{
 width:100%;
 height:50px;
 padding:10px;
}
.icon img{
	height:20px;
	width:-40px;
	position:relative;

}
.uno{
	position: absolute;
	top:100px;
	right:600px;
	z-index:300px;
}
.dos{
	position: absolute;
	top:50px;
	left:10px;
	z-index:500px;
}
.tres{
	position: absolute;
	z-index:1000;
	top:50px;
	left:20px;
}
.cuatro{
	position: absolute;
	z-index:1000;
	top:60px;
	left:10px;
}
.cinco{
		position: absolute;
	z-index:1000;
	top:70px;
	left:10px;
}
.seis{
	position: absolute;
	z-index:1000;
	top:80px;
	left:20px;
}
.siete{
	position: absolute;
	z-index:1000;
	top:90px;
	left:30px;
}
.ocho{
	position: absolute;
	z-index:1000;
	top:100px;
	left:34px;
}
.nueve{
	position: absolute;
	z-index:1000;
	top:200px;
	left:26px;
}
.diez{
	position: absolute;
	z-index:1000;
	top:400px;
	left:29px;

}
.once{
	position: absolute;
	z-index:1000;
	top:500px;
	left:10px;
}
.doce{
	position: absolute;
	z-index:1000;
	top:500px;
	left:12px;
}
.trece{
	position: absolute;
	z-index:1000;
	top:500px;
	left:10px;
}
.catorce{
	position: absolute;
	z-index:1000;
	top:450px;
	left:20px;
}
.quince{
	position: absolute;
	z-index:1000;
	top:300px;
	left:20px;
}

.uno1{
	position: absolute;
	top:200px;
	right:10px;
	z-index:300px;
}
.dos1{
	position: absolute;
	top:50px;
	left:8px;
	z-index:800px;
}
.tres1{
	position: absolute;
	z-index:1000;
	top:350px;
	left:20px;
}
.cuatro1{
	position: absolute;
	z-index:1000;
	top:400px;
	left:30px;
}
.cinco1{
		position: absolute;
	z-index:1000;
	top:350px;
	left:18px;
}
.seis1{
	position: absolute;
	z-index:1000;
	top:200px;
	left:20px;
}
.siete1{
	position: absolute;
	z-index:1000;
	top:400px;
	left:27px;
}
.ocho1{
	position: absolute;
	z-index:1000;
	top:500px;
	left:19px;
}
.nueve1{
	position: absolute;
	z-index:1000;
	top:500px;
	left:18px;
}
.diez1{
	position: absolute;
	z-index:1000;
	top:450px;
	left:20px;

}
.once1{
	position: absolute;
	z-index:1000;
	top:500px;
	left:17px;
}
.doce1{
	position: absolute;
	z-index:1000;
	top:400px;
	left:16px;
}
.trece1{
	position: absolute;
	z-index:1000;
	top:500px;
	left:20px;
}
.catorce1{
	position: absolute;
	z-index:1000;
	top:550px;
	left:10px;
}
.quince1{
	position: absolute;
	z-index:1000;
	top:590px;
	left:90px;
}
.icon{
	height:0;
}
.audio{
	position: absolute;
	z-index:1000;
	top:250px;
	left:250px;
}
.avatar{
	height:50px;
	width:50px;
}
.repro{
	color:white;
}
.lugar{
	color:#32c2a2;
}
.centrar1{
	text-align: center;
	padding-left:25%;
}
.music{
	height:60px;
	width:60px;
}
.music1{
	width:70px;
	width:70px;
}
.music2{
	width:60px;
	width:60px;
}
.centrar{
	margin:auto;
	text-align: center;
	margin-top:10px;
}

.repro{
		position: absolute;
		background-color:#7544c0;
		z-index:1000;
		width:100%;
		
		height:350px;
		top:550px;
		margin:0;
}
.repro img{
	margin-left:10px;
} 